@{
    ViewData["Title"] = "Esqueceu a senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Esqueceu a senha</h1>

<div class="text-danger" asp-validation-summary="All"></div>

<!-- Formulário da Recuperacao de Senha -->
<form asp-action="ForgotPassword">
    <div class="form-group">
        <label>E-mail: </label>
        <input type="email" name="email" class="form-control" />

        <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
</form>
<!-- Fim do Formulário da  Recuperacao de Senha -->