@{
	ViewData["Title"] = "Esqueceu a Senha";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Esqueci minha senha</h1>

<div class="text-danger" asp-validation-summary="All"></div>

<!-- Formulário de Recuperação de Senha -->
<form asp-action="ForgotPassword">
	<div class="form-group">

		<!-- Input do E-mail -->
		<label>E-mail: </label>
		<input type="email" name="email" class="form-control" />

		<button class="btn btn-primary" type="submit">Entrar</button>
	</div>
</form>
<!-- Fim do Formulário de Recuperação de Senha -->