@model ProjetoMongoDB.ViewModels.ResetPasswordViewModel

@{
	ViewData["Title"] = "Reset da Senha";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password</h1>

<div class="text-danger" asp-validation-summary="All"></div>

<!-- Formulário de Reset -->
<form asp-action="ResetPassword">

	<input type="hidden" asp-for="UserId" />
	<input type="hidden" asp-for="Token" />

	<div class="form-group">

		<!-- Input do E-mail -->
		<label asp-for="Email">E-mail: </label>
		<input type="email" asp-for="Email" name="email" class="form-control" />

		<!-- Input da Senha -->
		<label asp-for="NewPassword">Senha: </label>
		<input type="password" asp-for="NewPassword" name="password" class="form-control" />

		<!-- Input de Confirmar a Senha -->
		<label asp-for="ConfirmPassword">Senha: </label>
		<input type="password" asp-for="ConfirmPassword" name="password" class="form-control" />

		<button class="btn btn-primary" type="submit">Entrar</button>
	</div>
</form>
<!-- Fim do Formulário de Reset -->