@{
	ViewData["Title"] = "Senha redefinida";

	<h2>@ViewData["Title"]</h2>
	<p>A sua senha foi redefinida com sucesso!</p>
	<a asp-controller="Account" asp-action="Login">Clique para fazer o Login</a>
}